<%- include('partials/header'); -%>

<form action="/usuario/<%= usuario.id %>" method="POST">
  <h2>Atualizar Dados</h2>

  <label for="nome">Nome</label>
  <input type="text" name="nome" id="nome" value="<%= usuario.nome ? usuario.nome : '' %>" required/>

  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="<%= usuario.email ? usuario.email : '' %>" required/>

  <label for="endereco">Endereço</label>
  <input type="text" name="endereco" id="endereco" value="<%= usuario.endereco ? usuario.endereco : '' %>" required/>

  <label for="numero_endereco">Numero Endereço</label>
  <input type="number" name="numero_endereco" id="numero_endereco" value="<%= usuario.numero_endereco ? usuario.numero_endereco : '' %>" required/>

  <label for="zipcode">CEP</label>
  <input type="text" name="zipcode" id="zipcode" value="<%= usuario.zipcode ? usuario.zipcode : '' %>" required/>

  <label for="senha">Senha</label>
  <input type="password" name="senha" id="senha" value="<%= usuario.senha ? usuario.senha : '' %>" required/>

  <button>Atualizar</button>
</form>

<%- include('partials/footer'); -%>

<script>
const form = document.querySelector('form');

form.addEventListener('submit', async (e) => {
  e.preventDefault();

  // get values
  const nome = form.nome.value;
  const email = form.email.value;
  const senha = form.senha.value;
  const endereco = form.endereco.value;
  const numero_endereco = form.numero_endereco.value;
  const zipcode = form.zipcode.value;

  try {
    const res = await fetch('/usuario/<%= usuario.id %>', { 
      method: 'PUT', 
      body: JSON.stringify({ nome, email, senha, endereco, numero_endereco, zipcode }),
      headers: {'Content-Type': 'application/json'}
    });

    const data = await res.json();
    console.log(`Cadastro: ${data}`);

    if (data.usuario) {
      location.assign('/home');
    }
  }
  catch (err) {
    console.log(err);
  }
});
</script>